@import '../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: $size-m;
  align-items: center;
  padding-bottom: $size-xs;

  @include on-tablet {
    gap: $size-24;
    padding-bottom: $size-m;
  }

  @include on-desktop {
    gap: $size-xl;
  }
}

.tagText {
  width: fit-content;
  padding: $size-s;
  border-radius: $size-40;
  height: $size-40;
}

.titleText {
  display: block;
  margin: 0;
  text-align: center;

  @include on-desktop {
    line-height: $size-80;
  }
}