@import '../../styles/index.scss';

.container button {
  padding: $size-14-5 $size-17;
  border-radius: $size-40;

  @include on-desktop {
    padding: $size-16-5 $size-m;
  }
}

.green {
  background-color: $c-button-primary;
  border: none;
}

.white {
  background: none;
  border: 1px solid $color-gray-500;
}