@import '../../../styles';

.choose {
  display: flex;
  flex-direction: column;
  gap: $size-xs;
  text-align: start;
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  border: $size-1 solid $color-gray-200;
  border-radius: $size-40;
  padding: 0 $size-24;
  opacity: 0.5;
  height: $size-2xl;
  justify-content: space-between;

  @include on-desktop {
    height: $size-52;
  }
  
  @include on-desktop {
    height: $size-52;
  }
}

.select img {
  height: 100%;
  width: 9px;
  transform: rotate(90deg);
  filter: brightness(0);
}