@import '../../../../styles/index';

.container {
  display: none;

  @include on-tablet {
    display: block;
  }
}

.container button {
  padding: $size-14-5 $size-17;
  background-color: $c-button-primary;
  border-radius: $size-40;
  border: none;

  @include on-desktop {
    padding: $size-16-5 $size-m;
  }
}