$c-button-primary: #A4D65E;
$c-button-hover : #99C759;
$c-button-active: #8CB74F;

$color-gray-background: #F1F1F1;
$color-background: #FAFAF8;
$color-white: #F5F5F5;
$color-black: #121212;

$color-gray-100: #EDEEEE;
$color-gray-200: #E2E2E2;
$color-gray-300: #C9C9C9;
$color-gray-400: #DEDEDE;
$color-gray-500: #A4A4A4;
$color-gray-600: #6B7075;
$color-gray-700: #4D4D4D;

$color-system-error: #DC3545;
$color-system-info: #00A0F3;
$color-system-warning: #FC9403;
$color-system-success: #28A745;