$c-button-primary: #a4d65e;
$c-button-hover: #99c759;
$c-button-active: #8cb74f;

$color-background-white: #fff;
$color-gray-background: #f1f1f1;
$color-background: #fafaf8;
$color-white: #f5f5f5;
$color-black: #121212;

$color-gray-100: #edeeee;
$color-gray-200: #e2e2e2;
$color-gray-300: #c9c9c9;
$color-gray-400: #dedede;
$color-gray-500: #a4a4a4;
$color-gray-600: #6b7075;
$color-gray-700: #4d4d4d;

$color-system-error: #dc3545;
$color-system-info: #00a0f3;
$color-system-warning: #fc9403;
$color-system-success: #28a745;
