$font-poppins: 'Poppins', sans-serif;
$font-inter: 'Inter', sans-serif;

$size-2xs: 4px;
$size-xs: 8px;
$size-s: 12px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 32px;
$size-2xl: 48px;
$size-3xl: 64px;

$size-40px: 40px;
$size-42px: 64px;


$FotoTransform: scale(1.05);
$NavTransform: scale(1.1);
$effectDuration: 0.5s;
$allEffectDuration: all 0.5s ease;
