@import '../../../styles';

.container {
  display: flex;
  flex-direction: column;
  border-left: $size-1 solid $color-gray-active;
  padding: $size-m 0 $size-m $size-s;
  width: $size-156;
  height: 100%;

  @include on-tablet {
    width: $size-160;
  }

  @include on-tablet {
    width: 100%;
    padding: $size-13 0 $size-13 $size-m;
  }
}

.container h4 {
  margin: 0;
  padding-bottom: $size-xs;
}

.description {
  color: $color-gray-600;
}

.container h5 {
  padding-top: $size-34;
  font-size: $size-40;
  line-height: 100%;
  margin-top: auto;
  color: $c-button-primary;
}