@import '../../styles/index';

.container {
  background-color: $color-gray-100;
  border-radius: $size-40;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: $size-l;
  height: $size-3xl;
  max-width: $size-1000;
  width: 100%;
  align-self: center;

  @include on-tablet {
    height: $size-72;
  }

  @include on-desktop {
    height: $size-80;
  }
} 

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size-m;
  align-items: center;
  padding: $size-xl 0 $size-40;

  @include on-tablet {
    padding-bottom: $size-xl;
    gap: $size-24;
  }

  @include on-desktop {
    padding-bottom: $size-24;
    gap: $size-xl;
  }
}
