@import '../../styles/index';
@import '../../styles/mixins/media';

.container {
  background-color: $color-gray-100;
  border-radius: $size-40;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: $size-xl;
  padding: $size-l;
  height: $size-3xl;

  @include on-tablet {
    padding: $size-s $size-24;
    height: $size-72;
  }

  @include on-desktop {
    padding: $size-14;
    height: $size-80;
  }
}