@import '../../styles/index';

.sidebar {
  position: fixed;
  top: calc($size-3xl + $size-xl);
  right: 0;
  width: 100%;
  background-color: $color-background-white;
  z-index: 1100;

  transform: translateX(100%);
  transition: $transformEffectDuration;
}

.sidebar.open {
  transform: translateX(0);
}
