@import '../../../../styles//index.scss';

.container {
  display: flex;
  justify-content: center;
}

.en,
.ua {
border: none;
padding: 0;
color: $color-gray-500;
font-family: $font-inter;
font-size: $size-16;
width: $size-26;
background: none;
cursor: pointer;

@include on-tablet {
  height: $size-18;
}
}

.active {
  color: $color-black;
  font-weight: 600;
}

.line {
  margin: 0 $size-xs;
  height: $size-22;
  width: $size-1;
  background-color: $color-gray-500;

  @include on-tablet {
    height: $size-24;
  }
}