@import '../../styles/index';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer,
.cards {
  display: flex;
  flex-direction: column;
  gap: $size-m;
  width: 100%;

  @include on-desktop {
    gap: $size-l;
  }
}

.cards {
  margin-top: $size-24;

  @include on-tablet {
    margin-top: $size-xl;
    flex-direction: row;
    height: $size-450;
  }

  @include on-desktop {
    margin-top: $size-40;
    height: $size-620;
  }
}

.cards > *:nth-child(1) {
  @include on-tablet {
    width: 50%;
  }
}
