@import '../../styles';

.container {
  display: flex;
  flex-direction: column;
  height: $size-312;
  background-color: $c-button-primary;
  border-radius: $size-xl;
  padding: $size-xl;
  text-align: center;
  height: 100%;
  justify-content: space-between;

  @include on-desktop {
    height: $size-352;
  }
}

.container:nth-child(3) {
  @include on-tablet {
    grid-column: 1 / -1;
  }

  @include on-desktop {
    grid-column: auto;
  }
}

.container h4 {
  margin: 0;
}

.count {
  padding-bottom: $size-24;
  color: $color-gray-400;
  font-size: $size-80;
  font-weight: 500;
  font-family: $font-poppins;

  @include on-desktop {
    padding-bottom: $size-xl;
  }
}

.description {
  margin-top: auto;
  padding-top: $size-xs;
  color: $color-gray-700;
}