@import '../../styles/index.scss';

.container {
  background-color: $color-background;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  padding: $size-40 $size-24;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    padding: $size-2xl $size-40;
  }

  @include on-desktop {
    padding: $size-80 $size-120;
  }
}

.statisticsCards {
  display: grid;
  gap: $size-m; 
  grid-template-columns: repeat(2, 1fr); 

  @include on-tablet {
    grid-template-columns: repeat(4, 1fr); 
  }
}