@import '../tokens/breakpoints';

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: $size-24;

  @include on-tablet {
    padding-inline: $size-40;
  }

  @include on-desktop {
    padding-inline: $size-120;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 8;

    column-gap: $size-30;
  }

  @include on-desktop {
    --columns: 12;
  }
}


.containerContentPadding {
  @include content-padding-inline;
  justify-content: center;
  display: flex;
  
}

.containerMaxWidth {
  max-width: $desktop-max-width;
}

.desktopOnly {
  display: none;

  @include on-desktop {
    display: block;
    transition: $opacityEffectDuration;
  };
}

.tabletAndMore {
  display: none;

  @include on-tablet {
    display: block;
    transition: $opacityEffectDuration;
  }
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
