@import '../../styles/index';

.container {
  display: flex;
  flex-direction: column;
  gap: $size-2xl;
  align-self: center;

  @include on-tablet {
    gap: $size-3xl;
  }

  @include on-desktop {
    gap: $size-100;
  }
}