@import '../../styles';

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: $size-16;

  @include on-desktop {
    gap: $size-20;
    width: $size-692;
    padding-top: $size-2xl; 
  }
}

.success,
.error {
  position: absolute;
  bottom: -50px;
  left: 0;
}