@import '../../../../../styles';

.container {
  color: $color-gray-500;
  text-align: center;
  padding-bottom: 8px;
}

.progressBar,
.progressCurrent {
  height: 14px;
  border-radius: 40px;
}

.progressBar {
  width: 100%;
  background-color: $color-gray-600;
}

.progressCurrent {
  background-color: $c-button-primary;
}